/* color vars: https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */
/* purple brand color: https://coolors.co/palette/dec9e9-dac3e8-d2b7e5-c19ee0-b185db-a06cd5-9163cb-815ac0-7251b5-6247aa */

/* Color Base */
:root {

  --vp-c-purple: #;
  --vp-c-purple-light: #c19ee0;
  --vp-c-purple-lighter: #d2b7e5;
  --vp-c-purple-dark: #a06cd5;
  --vp-c-purple-darker: #9163cb;


  /* 设置字体颜色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);

  /* 设置右图像渐变 */
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #8e99ee 50%, #ffffff 50%);
  --vp-home-hero-image-filter: blur(150px);

}

:root {
  --vp-c-brand: var(--vp-c-purple);
  --vp-c-brand-purple: var(--vp-c-purple-dark);
  --vp-c-brand-page-background: #fff;
  /*     --vp-c-brand-lighter: var(--vp-c-purple-lighter);
    --vp-c-brand-dark: var(--vp-c-purple-dark);
    --vp-c-brand-darker: var(--vp-c-purple-darker);
    --vp-button-brand-bg:var(--vp-c-purple-dark);
    --vp-button-brand-hover-bg:var(--vp-c-purple-darker); */
  --vp-c-brand-1: var(--vp-c-purple-darker);
  --vp-button-brand-bg: var(--vp-c-purple-dark);
  --vp-button-brand-hover-bg: var(--vp-c-purple-darker);
  /* Tooltip文字颜色 */
  --vp-tooltip-bg:linear-gradient(90deg, #A06CD5, #EC69BD,#EC69BD,#A06CD5);
  --vp-tooltip-bg-before:linear-gradient(45deg,#EB69BD,#EB69BD );
  --vp-tooltip-color-before:#fff;
}

.dark {
  --vp-tooltip-bg-before:linear-gradient(45deg,#252529,#27262B );
  --vp-tooltip-bg:linear-gradient(90deg, #000, #4B4A54);
  --vp-tooltip-color-before:#fff;
  --vp-c-brand-purple: #fff;
  --vp-c-brand-1: var(--vp-c-purple-light);
  --vp-c-brand-page-background: var(--vp-c-purple-dark)
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

body::-webkit-scrollbar {
  width: 6px;

}

body::-webkit-scrollbar-thumb {
  background-color: var(--vp-c-brand-purple);
}
aside::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

aside::-webkit-scrollbar {
  width: 6px;
}

aside::-webkit-scrollbar-thumb {
  background-color: var(--vp-c-brand-1);
}
.box .icon{
 text-align: center;
}
.clip[data-v-d14c56d9]{
  animation: hueRotate 3s infinite alternate;
}
@keyframes hueRotate {
  100% {
      filter: hue-rotate(360deg);
  }
}